.light {
    background-color: antiquewhite;
    color: navy;
}

.dark {
    background-color: navy;
    color: antiquewhite;
}

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(232, 245, 250);
    font-family: 'Open Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    background-color: white;
    padding: 2rem;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: black;
}

.formControl {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

label {
    margin-bottom: 6px;
    color: #777;
    display: block;
}

input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

input:focus {
    outline: 0;
    border-color: #777;
}

button {
    width: 100%;
    align-self: center;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 2px;
    padding: .5rem;
    color: white;
    font-weight: bold;

    cursor: pointer;
    
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.formControl.success input {
    border-color: var(--success-color);
}
.formControl.error input {
    border-color: var(--error-color);
}

.formControl small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.formControl.error small {
    visibility: visible;
}
